.keyboard {
	padding: 8px 5px;
	display: flex;
//	flex-direction: column;

	//flex-basis: 100%;
 
	text-transform: uppercase;
 
	background-color: $color-dark-m;
	border-radius: 5px;

	width: 1100px;
	flex-wrap: wrap;

	

	.row {
		display: flex;
		flex-wrap: nowrap;

		flex-basis: 100%;
	}
 }