button {
	position: relative;
	min-width: 60px;
	height: 60px;

	margin: 3px;
	padding: 0 10px;

	color: $color-light-l;
	background-color: $color-dark-s;

	border: none;
	border: 1px solid $color-blue;
	border-radius: 4px;

	font-size: 1.5rem;

	

	transition: 0.4s;
	&:hover {
		background-color: $color-light-s;
		cursor: pointer;
	}
	&:active {
		transform: translateY(4px);
	}
	&.pressed {
		transform: translateY(4px);
		background-color: #9ffdff;
	}
}



.key {
	&[data-type="shift-left"],
	&[data-type="shift-right"],
	&[data-type="capslock"],
	&[data-type="alt-left"] {
		//transform: translateY(4px);
		//background-color: #089fff;
		&:before,
		&:after {
			content: "";
			border-radius: 50%;
			position: absolute;
		}
		&:before {
			top: 3px;
			right: 5px;
			width: 16px;
			height: 16px;
			background-color: transparent;
			border: 2px solid $color-blue;
		}
		&:after {
			top: 8px;
			right: 10px;
			width: 10px;
			height: 10px;
			background-color: #707070cc;
		}

		&.active {
			//background-color: #9ffdff;
			&:after {
				background-color: #9ffdff;
			}
		}
	}

	&:active {
		transform: translateY(4px);
		background-color: #089fff;
	}

	&[data-type="arrow-left"],
	&[data-type="arrow-right"],
	&[data-type="arrow-down"],
	&[data-type="arrow-up"] {
		font-family: "Arial", sans-serif;
		background-color: #59bcb28a;
		&:hover {
			background-color: $color-light-s;
		}

	}
	&[data-type="backspace"],
	&[data-type="tab"],
	&[data-type="enter"],
	&[data-type="capslock"],
	&[data-type="shift-left"],
	&[data-type="space"] {
		flex-grow: 1;
	}

	&[data-type="tab"],
	&[data-type="capslock"],
	&[data-type="shift-left"] {
		text-align: left;
	}

	&[data-type="backspace"],
	&[data-type="enter"],
	&[data-type="shift-right"] {
		text-align: right;
	}
	&.pressed {
		transform: translateY(4px);
		background-color: #9ffdff;
	}
}
